AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator
AlignTrailingComments: Always
AllowAllArgumentsOnNextLine: False
AllowAllParametersOfDeclarationOnNextLine: False
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: True
AllowShortEnumsOnASingleLine: False
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: False
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: False
AlwaysBreakTemplateDeclarations: No
BinPackArguments: False
BinPackParameters: False
BitFieldColonSpacing: Both
BreakAfterAttributes: Never
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakBeforeConceptDeclarations: Never
BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTernaryOperators: True
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: False
ColumnLimit: 120
CompactNamespaces: False
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: True
DerivePointerAlignment: False
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: False
IndentAccessModifiers: False
IndentCaseBlocks: False
IndentCaseLabels: False
IndentExternBlock: Indent
IndentGotoLabels: False
IndentPPDirectives: BeforeHash
IndentRequiresClause: False
IndentWidth: 4
IndentWrappedFunctionNames: False
InsertNewlineAtEOF: True
InsertTrailingCommas: Wrapped
KeepEmptyLinesAtTheStartOfBlocks: False
LambdaBodyIndentation: Signature
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PPIndentWidth: 4
PackConstructorInitializers: Never
PointerAlignment: Right
QualifierAlignment: Leave
ReferenceAlignment: Right
ReflowComments: True
RequiresClausePosition: SingleLine
RequiresExpressionIndentation: OuterScope
SeparateDefinitionBlocks: Always
SortIncludes: CaseInsensitive
SortUsingDeclarations: LexicographicNumeric
SpaceAfterCStyleCast: False
SpaceAfterLogicalNot: False
SpaceAfterTemplateKeyword: True
SpaceAroundPointerQualifiers: After
SpaceBeforeAssignmentOperators: True
SpaceBeforeCaseColon: False
SpaceBeforeCpp11BracedList: False
SpaceBeforeCtorInitializerColon: True
SpaceBeforeInheritanceColon: True
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: True
SpaceBeforeSquareBrackets: False
SpaceInEmptyBlock: False
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInLineCommentPrefix:
  Maximum: 1
  Minimum: 1
SpacesInSquareBrackets: False
TabWidth: 4
UseTab: Never
